<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} | Elliot Clowes</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="mx-auto max-w-screen-lg py-4 min-h-screen bg-[#f8f8f8] text-xl max-sm:text-lg">
  <nav class="text-neutral-400 flex mb-12 max-sm:hidden justify-center">
    <a class='text-black' href="/">clowes.blog</a>
    <a class href='/about'>about</a>
  </nav>
  <main>
    {{ content | safe }}
  </main>
  <footer class="mt-24 flex justify-center">
    <div></div>
  </footer>
  <script src="/js/scripts.js"></script>
</body>
</html>
