{% macro single_post(title, url, content, date) %}
<article class="post">
  <div class="post-content">
    {{ content | safe }}
  </div>
  <a href="{{ url }}"><div class="post-footer">{{ date | customDate }}</div></a>
</article>
<br/><br/>
{% endmacro %}
