<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="mx-auto max-w-screen-lg py-4 min-h-screen bg-[#f8f8f8] text-xl max-sm:text-lg">
<nav class="text-neutral-400 flex mb-12 max-sm:hidden">
<a class="" href="/">home</a>
<a class href='/about-us'>about us</a>
<a class='text-black' href='/changelog'>changelog</a>
<a class href='/buy'>pricing</a>
</nav>
<article class="flex flex-col gap-8 grow">
  {{ content | safe }}
  <span class="text-neutral-400"><time>{{ date | customDate }}</time></span>
  </article>
<footer class="mt-24">
Follow <a href="https://twitter.com/nota_md">@nota_md</a> for updates.
</footer>
<script src="/js/scripts.js"></script>
</body>
</html>
