<article class="mastodon-card">
  <div class="mastodon-header">
    <img src="/static/elliot-clowes.jpg" alt="User Avatar" class="mastodon-avatar">
    <div class="mastodon-user">
      <div class="mastodon-display-name"><a href="{{ url }}">{{ title }}</a></div>
      <div class="mastodon-username"><a href="https://mastodon.cloud/@clowes">clowes.blog</a></div>
    </div>
  </div>
  <div class="mastodon-content">
    {{ content | safe }}
  </div>
  <div class="mastodon-footer">{{ date | customDate }}</div>
</article>
